/* side panel  */
.main-sidePanel {
  grid-area: sidePanel;
  background-color: var(--secondary-color);
  flex-direction: column;
  justify-content: space-between;
  width: 12rem;

  /* Glass effect css */
  background: linear-gradient(
    127.4deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.6) 98.83%
  );
  border-right: 2px solid white;
  box-sizing: border-box;
  backdrop-filter: blur(1px);
  overflow: auto;
}

.main-sidePanel-filter-values-container {
  height: 5rem;
  width: 10rem;
  overflow: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

/* Responsive css for phones */
@media only screen and (max-width: 768px) {
  .main-sidePanel {
    display: none;
  }
}
