/* main categories  */
.main-categories {
  grid-area: mainCategories;
  background-color: var(--secondary-color);
  justify-content: space-between;
  background: var(--tertiary-color);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.26);
}

.main-categories ul {
  list-style: none;
  justify-content: space-around;
  height: 50%;
  width: 100%;
  cursor: pointer;
}

.main-categories li {
  color: #272727;
}

.main-categories li:hover {
  color: black;
  transform: scale(1.03);
}

.main-categories li i {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-right: 1rem;
}

/* css of active tab  */
.selected i {
  color: var(--quad-color) !important;
}

/* Responsive css for tablets and phones */
@media only screen and (max-width: 768px) {
  .main-categories li b {
    display: none;
  }
}
