/* nav */
.main-nav {
  grid-area: nav;
  justify-content: space-between;
  height: 4rem;
  background-color: white;
}

/* logo  */
.main-nav-img {
  height: 3.5rem;
  cursor: pointer;
}

/* search bar  */
.main-search {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--primary-color);
  padding: 0.4rem 0.8rem;
  width: 20rem;
  color: var(--primary-color);
}
.main-search:focus {
  border-bottom: 2px solid var(--secondary-color);
  transition: 1s ease-in-out;
}

/* other icons  */
.main-nav ul {
  justify-content: space-between;
  width: 12rem;
  list-style: none;
}
.main-nav li {
  color: var(--secondary-color);
  cursor: pointer;
}
.main-nav li:hover {
  transform: scale(1.02);
}
.main-nav li i {
  font-size: 1.3rem;
}

/* Responsive css for phones */
@media only screen and (max-width: 768px) {
  .main-nav {
    justify-content: space-around;
  }
  .main-nav ul {
    display: none;
  }
}
